<html>
<header>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
</header>

<body>
  <div class="container ">
    <h1>Welcome Admin <%=admin%></h1>
    <a href="/admin/<%=admin%>/teachers/insert" class='btn btn-primary'>Insert Teacher</a>
    <br>
    <br>
    <a href="/admin/<%=admin%>/teachers" class='btn btn-primary'>Show All Teachers</a>
    <br>
    <br>
    <a href="/admin/<%=admin%>/subjects" class="btn btn-primary">All Subjects</a>
  </div>
</body>

</html>